@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;  
}

main-return{
    background-color: #48a73b;
}

.payment__h1__title {
    text-align: center;
    color: white;
    padding: 1% 0 0 0;
    font-family: var(--primary-font);
}

.payment__h2__title {
    text-align: center;
    color: white;
    padding: 2% 0 0 0;
    font-family: var(--primary-font);
}

.button-continue {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
    background-color: #48a73b;
    border: 2px solid #3cb62c;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .button-continue{
        margin-top: 3%;
        font-family: var(--primary-font);
    }
}
