.container{
    text-align: center;
}

.title{
    font-size: 750%;

}

.info_text{
    font-size: 500%;

}

.pix_qrcode{
    align-content: center;
    width: 85%;
    height: 85%;
}

.home{
    display: flex;
    width: 138px;
    height: 138px;
}