.container{
    width: 30%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px #48a73b;
    border-radius: 10px;
    padding: 2%;
}

.title{
    font-size: 40px;
    margin: 0.5%;

}

.info_text{
    font-size: 30px;
    margin: 0.5%;
    color: white;
}

.pix_qrcode{
    margin-top: 2%;
    margin-bottom: 10%;
    align-content: center;
    width: 80%;
    height: 80%;
}

.button_confirm{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 94, 0);
    border: 1px solid rgb(1, 255, 1);
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.home{
    display: flex;
    width: 60px;
    height: 60px;

}
