.container{
    display: grid;
}

.title{
    font-size: 40px;
    margin: 0.5%;

}

.info_text{
    font-size: 30px;
    margin: 0.5%;
}

.pix_qrcode{
    align-content: center;
    width: 75%;
    height: 75%;
}

.button_confirm{
    border: 3px solid #00F600;
    border-radius: 80px;
    display: flex;
    background-color: #005E00;
    text-decoration: none;  
    align-items: center;
    justify-content: center;

}
.home{
    display: flex;
    width: 25px;
    height: 25px;

}