.container-box{
  display: grid;
  place-items: center;
  background-color: #151414;
  align-items: center;
  border: solid 2px #00F600;
  text-align: center;
}

.title{
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 128px;
    color: #ffffff;
    font-weight: bold;
}

.subtitle{
    margin-bottom: 8%;
    font-size: 98px;
    color: #ffffff;
    font-weight: lighter;
}

.anchor{
    border: 3px solid #00F600;
    border-radius: 80px;
    display: flex;
    background-color: #005E00;
    text-decoration: none;  
    width: 810px;
    height: 310px;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    
  }
  
  .text{
    font-size: 128px;
    font-weight: bold;
    color: white;
  
  }

  .img-logo{
   align-items: center;
   width: 500px;
   height: 500px;
   margin-bottom: 4%;
  }