@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;  
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: solid 2px #48a73b;
    border-radius: 10px;
    padding: 2%;
}

.cad__h2__title{
    font-family: var(--primary-font);
    text-align: center;
    font-size: 5vw;
    color: white;
    margin: 2%;

}

.info_text{
    font-family: var(--primary-font);
    font-size: 5vw;
    margin-top: 1%;
    color: white;
}

.p-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    float: left;
}

.pix_qrcode{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 80%;
}

.button_confirm{
    margin-top: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: white;
    font-size: 4vh;
    background-color: #48a73b;
    border: 2px solid #3cb62c;
    border-radius: 15px;
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.home{
    display: flex;
    width: 10%;
    height: 10%;
    margin-top: 2%;
    margin-left: 2%;

}

.clique {
    padding: 10px 20px;
    font-size: 20px;
    font-family: var(--primary-font);
    background-color: #48a73b;
    border: 2px solid #3cb62c;
    border-radius: 15px;
    width: 450px;
    height: 120px;
    color: white;
    cursor: pointer;
    position: relative;
    animation-duration: 2s;
    transform-origin: center;
}

@keyframes clicar {
    0%, 100% {
        background-color: #3cb62c;
        color: #fff;
        transform: scale(1);
    }
    50% {
        background-color: #3cb62c;
        color: #fff;
        transform: scale(1.2);
    }
}

.clique:active {
    animation-name: clicar;
}

@media (min-width: 320px) and (max-width: 480px) {
    .button_confirm{
        margin-top: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--primary-font);
        color: white;
        font-size: 4vh;
        background-color: #48a73b;
        border: 2px solid #3cb62c;
        border-radius: 10px;
        width: 80%;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}
    
@media (min-width: 480px) and (max-width: 800px) {

}
    
@media (min-width: 800px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1152px) {
    
}

@media (max-width: 1200px) {

}

@media (min-width: 1152px) and (max-width: 1280px) {
    
}

@media (min-width: 1280px) and (max-width: 1368px) {
    
}

@media (min-width: 1368px) and (max-width: 1400px) {
    
}

@media (min-width: 1400px) and (max-width: 1440px) {
    
}

@media (min-width: 1440px) and (max-width: 1600px) {
    
}

@media (min-width: 1600px) and (max-width: 1680px) {
    
}

@media (min-width: 1680px) and (max-width: 1920px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        border: solid 2px #48a73b;
        border-radius: 10px;
        padding: 1%;
    }
    
    .cad__h2__title{
        font-family: var(--primary-font);
        text-align: center;
        font-size: 3.5vh;
        color: white;
        margin: 2%;
    
    }
    
    .info_text{
        font-family: var(--primary-font);
        font-size: 1vw;
        margin-top: 1%;
        color: white;
    }
    
    .p-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        float: left;
    }
    
    .pix_qrcode{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 10%;
        width: 70%;
    }
    
    .button_confirm{
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--primary-font);
        color: white;
        font-size: 4vh;
        background-color: #48a73b;
        border: 2px solid #3cb62c;
        border-radius: 15px;
        width: 25%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .home{
        display: flex;
        width: 10%;
        height: 10%;
        margin-top: 2%;
        margin-left: 2%;
    
    }
}