.container-choice{
    background-color: #151414;
    border: solid 2px #00F600;
}

.img-logo-choice{
    width: 250px;
    height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.home-choice{
    display: flex;
    width: 138px;
    height: 138px;
    margin-top: 2%;
    margin-left: 2%;

}

.anchor-choice{
    border: 3px solid #00F600;
    border-radius: 80px;
    display: inline-flex;
    background-color: #005E00;
    text-decoration: none;  
    width: 30vh;
    height: 10vh;
    align-items: center;
    justify-content: center; 
    margin-left: 18%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 15%;

}

.text{
    font-size: 40px;
    font-weight: bold;
    color: white;
}