@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(41 41 41 / var(--tw-bg-opacity)) inset;
    box-shadow: 0 0 0 30px rgb(41 41 41 / var(--tw-bg-opacity)) inset;
    border-color: #3cb62c; /* Cor da borda para realçar */
    color: #fff; /* Cor do texto para o autofill */
  }
  
input:-webkit-autofill::first-line {
    color: #fff; 
}


