@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;  
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: solid 2px #48a73b;
    border-radius: 10px;
    padding: 2%;
}

.cad__h2__title{
    font-family: var(--primary-font);
    text-align: center;
    font-size: 6vw;
    color: white;
    margin: 5%;

}

.info_text{
    font-family: var(--primary-font);
    font-size: 5vw;
    margin-top: 1%;
    color: white;
}

.p-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    float: left;
}

.pix_qrcode{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

.button_confirm{
    margin-top: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: white;
    font-size: 4vh;
    background-color: #48a73b;
    border: 2px solid #3cb62c;
    border-radius: 15px;
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.home{
    display: flex;
    width: 10%;
    height: 10%;
    margin-top: 2%;
    margin-left: 2%;

}

@media (min-width: 320px) and (max-width: 480px) {
    .button_confirm{
        margin-top: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--primary-font);
        color: white;
        font-size: 4vh;
        background-color: #48a73b;
        border: 2px solid #3cb62c;
        border-radius: 10px;
        width: 80%;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (width: 1200px) {

    .button_confirm{
        margin-top: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--primary-font);
        color: white;
        font-size: 4vh;
        background-color: #48a73b;
        border: 2px solid #3cb62c;
        border-radius: 15px;
        width: 80%;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}