@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;  
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #79ffa3 #48a73b;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #48a73b;
}

*::-webkit-scrollbar-thumb {
  background-color: #79ffa3;
  border-radius: 20px;
  /* border: 3px solid orange; */
}

.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 2%;
}

table {
  border-collapse: collapse;
  /* border: none; */
}

.table_align{
    width: 100%;
}

.th_title {
    /* background-color: #3cb62c; */
    --tw-bg-opacity: 1;
    background-color: rgb(41 41 41 / var(--tw-bg-opacity));
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--primary-font);
    font-size: 2vh;
  }

.th_total{
  background-color: #0c0c0c;
  color: white;
  font-family: var(--primary-font);
  font-size: 2vh;
}
  
  .td_title1,
  .td_title2,
  .td_title3,
  .td_title4,
  .td_title5 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(41, 41, 41);
    color: white;
    background-color: #0c0c0c;
    font-family: var(--primary-font);
  }
  
  .h1_table_title {
    margin-top: 0;
    color: white;
    text-align: center;
    font-family: var(--primary-font);
  }
  
  .table_style {
    /* border: 1px solid #3cb62c;  */
    /* border-radius: 10px; */
    width: 95%;
    height: 600px;
    margin: 1% auto;
    overflow: auto; 
  }

  .table_head{
    width: 95%;
    height: 50px;
    margin: 2% auto;
    overflow: auto;
  }

  .date_select {
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  
/* .tr_title2{
  width: 100%;
  height: 2px;
  background-color: rgb(41, 41, 41);
} */

.tr_title{
  position: sticky;
  top: 0; /* Fixa o cabeçalho no topo */
  z-index: 1; 
}

.tr_title_total{
  border-top: 3px solid rgb(41, 41, 41);
  position: sticky;
  bottom: 0; 
  z-index: 1; 
}

/* .th_total2 {
  border-top: 2px solid rgb(41, 41, 41);
  background-color: #0c0c0c;
  color: white;
  font-family: var(--primary-font);
  font-size: 2vh;
} */

/* Estilos para linhas pares */

/* Estilos para linhas pares */
.tr_title_even {
  background-color: #000000; /* Cor de fundo para linhas pares */
}

/* Estilos para linhas ímpares */
.tr_title_odd {
  background-color: #0c0c0c; /* Cor de fundo para linhas ímpares */
}



.h1_style{
  color: white;
  font-size: 2vw;
  font-family: var(--primary-font);
  float: left;
}

.relatorio {
  font-size: 20px;
  background-color: #48a73b;
  border: 2px solid #3cb62c;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-family: var(--primary-font);
  font-size: 2vh;
  color: white;
}

.hr_line {
  width: 70%;
  height: 2px;
  margin: 3% auto 0 auto ;
  background-color: #3cb62c;
  border: none;
  box-shadow:
    0 0 5px rgba(60, 182, 44, 0.5), /* Sombra central */
    0 0 10px rgba(60, 182, 44, 0.3), /* Sombra mais forte */
    0 0 15px rgba(60, 182, 44, 0.2), /* Sombra ainda mais forte */
    0 0 20px rgba(60, 182, 44, 0.1); /* Sombra mais forte nos cantos */
}

.hr_line2 {
  width: 35%;
  height: 1px;
  margin: 1% auto 1% auto ;
  background-color: #3cb62c;
  border: none;
  box-shadow:
    0 0 40px rgba(60, 182, 44, 0.5), /* Sombra central */
    0 0 80px rgba(60, 182, 44, 0.3), /* Sombra mais forte */
    0 0 120px rgba(60, 182, 44, 0.2), /* Sombra ainda mais forte */
    0 0 160px rgba(60, 182, 44, 0.1); /* Sombra mais forte nos cantos */
}